/* MARGIN */

.mt-10 {
    margin-top: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

/* PADDING */

.pr-5 {
  padding-right : 5%;
}

.pr-40 {
  padding-right: 40px;
}

.pl-5 {
    padding-left : 5%;
  }

  .pt-5 {
    padding-top : 5%;
  }

  .pt-2 {
    padding-top : 2%;
  }

  .pt-3 {
    padding-top: 3%;
  }

  .pb-5 {
    padding-bottom: 5%;
  }

.p-2 {
    padding: 2% 2% 2% 2%;
}

.pb-2 {
  padding-bottom: 2%;
}

/* FONT SIZE */

.fs-16 {
    font-size: 1rem;
}


/* FONT WEIGHT */

.fw-700 {
  font-weight: 700;
}

/* DISPLAY */

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

